.custom-textfield {
  padding: 0px !important;
  margin: 0px !important;
  font-weight: bold !important;
  text-align: center !important;
}

.no-padding {
  padding: 0px 0px 0px 0px !important;
  max-width: 50px;
  text-align: center;
}